h1 {
    color: #3068B1
}

.button-orange {
    background-color: #FF5A01;
    border-color:  #FF5A01;
}

.button-blue-outline {
    background-color: transparent;
    color: #431553;
}

#animate-push-vs-pull {
    width: 600;
    height: 800;
}
