<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>ICOL 2017 - Keynote Video by Jeremy Nelson</title>
        {#<author>Jeremy Nelson</author>
        <description>ICOL 2017 - Keynote Video by Jeremy Nelson</description>#}
        <!-- Google Fonts -->
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

        <!-- CSS Reset -->
        <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">

        <!-- Milligram CSS minified -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/milligram.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
       
    </head>
    <body>
        {% block main %}{% endblock %}
    </body>
</html>
