{% extends 'icol-2017/base.html' %}

{% block main %}
<div class="container">
    <h1>References</h1>
    <ol>
        <li>
            Hagel, J., III, Brown, J., Davison, L. (2010). <em>Power of Pull: How Small Moves Smarthly Made, Can Set Big Things in Motion</em>
            New York, NY: Basic Books.
        </li>
        <li>
            Nelson, J. (2015). <em>Becoming a Lean Library: Lessons from the Worlds of Startups</em> New York, NY: Chandos Publishing.
        </li>
        <li>
            Ries, E. (2011). <em>The Lean Startup</em>. New York. NY: Crown Business. 
        </li>
    </ol>
</div>
{% endblock %}
